<div class="card text-center aca-card">
    <div class="card-body">
        <h5 class="card-title text-center">Collegamento al BE</h5>
        <p class="card-text text-center">Tabella per visualizzare la response del BE</p>
        <button id="btnShow" class="btn btn-primary">show</button>
        <button id="btnAdd" class="btn btn-secondary">add</button>
        <div id="purchases" class="table mt-3"></div>
    </div>
    <form id="saveForm" class="saveForm p-2">
        <div class="form-group">
            <input id="movieId" class="form-control" type="number" name="movieId" placeholder="Movie id">
        </div>
        <div class="form-group">
            <input id="name" class="form-control" type="text" name="name" placeholder="Movie Name">
        </div>
        <div class="form-group">
            <input id="movieLength" class="form-control" type="number" name="movieLength" placeholder="Movie Length (Minutes)">
        </div>
        <div class="form-group">
            <input id="releaseDate" class="form-control" type="date" name = "releaseDate" placeholder="Movie Release Date">
        </div>
		<div class="form-group">
            <input id="btnSubmit" class="form-control btn btn-primary" type="submit" value="Save Movie">
        </div>
    </form>
</div>